*{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.incr{
  padding: 20px;
  margin: 10px;
  border: transparent;
  border-radius: 8px;
}

.incr:hover{
  border: 1px solid black;
  background-color: greenyellow;
}

.decr{
  padding: 20px;
  margin: 10px;
  border: transparent;
  border-radius: 8px;
}

.decr:hover{
  border: 1px solid black;
  background-color: red;
}